

.main__h1--caracteristica{
    color: #028090;
    text-align: center;
    

}

.main__h2--caracteristica{
    color: #05668d;
    text-align: center;
    
}

.carousel{
    height: 20rem;
    color: #3d3d3d;
}
.carousel-item{
    height: 20rem;
    object-fit: cover;

    h5{color: #3d3d3d;
    
    }
}