
$fontTitulo: 'Bellota'; 



.main__h1--caracteristica{
    color: #028090;
    text-align: center;
    
}
h1{
    font-family: $fontTitulo;
    }

.main__h2--caracteristica{
    color: #05668d;
    text-align: center;
    
}


.carousel{
    height: 20rem;
    color: #3d3d3d;
}
.carousel-item{
    height: 20rem;
    object-fit: cover;
    
    h5{color: #3d3d3d;
        font-weight: bolder;
    }
    #pielsana{
        color:#fcfcfc;
    }
    #cuidadopersonal{
        color: #fcfcfc;
    }
    #esencia{
        color: #3d3d3d;
    }
}

.tipsnaturaleza{
    background-color: #dfdddd;
}
.cocina, .actividadfisica{
    background-color: #f7f1f1;
}


footer{
    background-color: #264653;
    color: #fcfcfc;
}


