



.body__form{
    background-image: url("../../images/woodtable.jpg");
    background-size: cover;
    color: #5a5454;
    font-size: 2rem;
    font-family: "Marvel";
    font-weight:bold;
}


.borde{
    border-radius: 20px 20px 20px 20px;
    border: none
}

.btn-primary{
background-color: #509c8c;
border-color: #509c8c;
}

iframe{
    border-radius: 20px 20px 20px 20px;
}

.informacion{
    color:#264653;
}


.btn-l {
    &:hover{
        font-size:0rem;
        color:#509c8c;
        background-color:#fafafa;
        font-weight: bolder;
    
    &::before{
        content: "Estas a un paso!!!";
        font-size: 2rem;
        
        

    }
}

}