


.card:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 7px 5px 2px 0px rgba(139,148,143,0.48);
    -moz-box-shadow: 7px 5px 2px 0px rgba(139,148,143,0.48);
    box-shadow: 7px 5px 2px 0px rgba(139,148,143,0.48);
    
}

.main__tienda{
    background-image: url(../../images/fondoproducto.jpg);
    background-repeat: repeat-x;
    color:#4da6c9;
    height: 25rem;
    font-family: "Roboto";
    font-weight: bold;
}