@import "estiloshome";
@import "estilosnav";
@import "estiloscontacto";
@import "estilostienda";
@import "tamañosdefuente";
@import url(../baroneys_textured/BaroneysTextured.ttf);
@import url('https://fonts.googleapis.com/css2?family=Marvel&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}