@import url("https://fonts.googleapis.com/css2?family=Bellota&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel&family=Roboto:wght@100&display=swap");
.main__h1--caracteristica {
  color: #028090;
  text-align: center; }

h1 {
  font-family: "Bellota"; }

.main__h2--caracteristica {
  color: #05668d;
  text-align: center; }

.carousel {
  height: 20rem;
  color: #3d3d3d; }

.carousel-item {
  height: 20rem;
  object-fit: cover; }
  .carousel-item h5 {
    color: #3d3d3d;
    font-weight: bolder; }
  .carousel-item #pielsana {
    color: #fcfcfc; }
  .carousel-item #cuidadopersonal {
    color: #fcfcfc; }
  .carousel-item #esencia {
    color: #3d3d3d; }

.tipsnaturaleza {
  background-color: #dfdddd; }

.cocina, .actividadfisica {
  background-color: #f7f1f1; }

footer {
  background-color: #264653;
  color: #fcfcfc; }

.header__nav {
  background-color: #509c8c;
  box-shadow: 0px 7px 11px 0px rgba(70, 157, 184, 0.44); }

.navbar-light .navbar-brand {
  color: #fcfcfc;
  font-size: inherit; }

.navbar-light .navbar-nav .nav-link {
  color: #fcfcfc; }

.dropdown-menu {
  background: #509c8c; }
  .dropdown-menu a {
    font-weight: bold; }

.body__form {
  background-image: url("../../images/woodtable.jpg");
  background-size: cover;
  color: #5a5454;
  font-size: 2rem;
  font-family: "Marvel";
  font-weight: bold; }

.borde {
  border-radius: 20px 20px 20px 20px;
  border: none; }

.btn-primary {
  background-color: #509c8c;
  border-color: #509c8c; }

iframe {
  border-radius: 20px 20px 20px 20px; }

.informacion {
  color: #264653; }

.btn-l:hover {
  font-size: 0rem;
  color: #509c8c;
  background-color: #fafafa;
  font-weight: bolder; }
  .btn-l:hover::before {
    content: "Estas a un paso!!!";
    font-size: 2rem; }

.card:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 7px 5px 2px 0px rgba(139, 148, 143, 0.48);
  -moz-box-shadow: 7px 5px 2px 0px rgba(139, 148, 143, 0.48);
  box-shadow: 7px 5px 2px 0px rgba(139, 148, 143, 0.48); }

.main__tienda {
  background-image: url(../../images/fondoproducto.jpg);
  background-repeat: repeat-x;
  color: #4da6c9;
  height: 18rem;
  font-family: "Roboto";
  font-weight: bold; }

html {
  font-size: 62.5%; }

body {
  background-color: #fcfcfc;
  font-size: 2.3rem; }

header {
  font-size: 1.84rem; }

h1 {
  font-size: 6.9rem; }

h5 {
  font-size: 2.3rem; }

strong {
  font-size: 1.84rem; }

main {
  font-size: 1.15rem; }

.card {
  font-size: 1.53333rem; }

footer {
  font-size: 1.53333rem; }

h3 {
  font-size: 4.6rem; }

p {
  font-size: 1.53333rem; }

form {
  font-size: 2.3rem; }

.main__tienda {
  font-size: 3.45rem; }

.btn-primary {
  font-size: 1.61rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
